// | -------------------------------------------------------------
// | Spacings
// | -------------------------------------------------------------

@use '../space' as *;
@use 'sass:list';

@each $space in $space-scale {
  $nr: list.nth($space, 1);
  $space-amount: list.nth($space, 2);

  .space-#{$nr} {
    padding: #{$space-amount};
  }
}
